---
const { message, dir } = Astro.props
---

<h1
    lang="ar"
    dir={dir}
    id="message"
    class="font-black text-base pr-[10] pl-[5] py-0 md:text-2xl md:py-[5] text-center"
>
    {message}
</h1>

<style>
    * {
        font-family: 'TheSans';
    }
    
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-10px);
        }
        60% {
            transform: translateY(-5px);
        }
    }

    #message {
        animation: bounce 1s infinite;
    }
</style>
