---
const { message, dir } = Astro.props
---

<div
    id="container"
    class="px-[30px] py-2 md:pb-3 md:pt-2 bg-blue-500 text-white w-fit mx-auto"
>
    <h1
        lang="ar"
        dir={dir}
        id="message"
        class="text-lg leading-7 md:text-3xl font-semibold text-center"
    >
        {message}
    </h1>
</div>

<style>
    * {
        font-family: 'TheSans';
    }
</style>