---
import FlipCard from './FlipCard'
import './styles.css'

---
<script>
    import { onMount, onDestroy } from 'svelte';

    let remainingTime = {
        days: 7,
        hours: 0,
        minutes: 0,
        seconds: 0,
    };

    let animationFrame: any = null;

    const calculateRemainingTime = () => {
        const currentDate = new Date();
        const nextSunday = new Date(
            currentDate.getFullYear(),
            currentDate.getMonth(),
            currentDate.getDate() + (7 - currentDate.getDay())
        );
        const timeDifference = nextSunday.getTime() - currentDate.getTime();

        const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
            (timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        const minutes = Math.floor(
            (timeDifference % (1000 * 60 * 60)) / (1000 * 60)
        );
        const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

        return { days, hours, minutes, seconds };
    };

    onMount(() => {
        const updateCounter = () => {
            remainingTime = calculateRemainingTime();

            animationFrame = requestAnimationFrame(updateCounter);
        };

        animationFrame = requestAnimationFrame(updateCounter);
    });

    onDestroy(() => {
        if (animationFrame) {
            cancelAnimationFrame(animationFrame);
        }
    });
</script>

<div class="container mx-auto">
    <div class="container-segment">
        <div class="segment">
            <FlipCard type="days-ones" content={remainingTime.days} />
        </div>
        <span class="segment-title text-xs md:text-lg">Jours</span>
    </div>
    <div class="container-segment">
        <div class="segment">
            <FlipCard type="hours-ones" content={remainingTime.hours} />
        </div>
        <span class="segment-title text-xs md:text-lg">Heures</span>
    </div>
    <div class="container-segment">
        <div class="segment">
            <FlipCard type="minutes-ones" content={remainingTime.minutes} />
        </div>
        <span class="segment-title text-xs md:text-lg">Minutes</span>
    </div>
    <div class="container-segment">
        <div class="segment">
            <FlipCard type="seconds-ones" content={remainingTime.seconds} />
        </div>
        <span class="segment-title text-xs md:text-lg">Secondes</span>
    </div>
</div>
