---
import { Input } from "@nextui-org/react";
import CustomInput from "./CustomInput.astro";
---

<!-- * Column layout -->
<div class="flex flex-col gap-3">
    <!-- * Row Layout -->
    <div class="flex flex-row gap-3">
        <!-- * Customized Inputs -->
        <CustomInput name="Prénom" ></CustomInput>
        <CustomInput name="Nom de famille"></CustomInput>
    </div>
    
    <!-- * Row Layout -->
    <div class="flex flex-row gap-3">
        <!-- * Customized Inputs -->
        <CustomInput name="Numéro de téléphone" id="tel" required={true}></CustomInput>
        <CustomInput name="Adresse de livraison"></CustomInput>
    </div>
</div>