---
import ClientsInfo from './ClientsInfo.astro'
import ProductSizes from './ProductSizes'
import ProductImageDetails from '../ProductImageDetails.astro'
import Quantity from './Quantity.astro'
import { Button } from '@nextui-org/react'
const { image, name, price, old_price, link, score } = Astro.props



let old_pricee: string

if (old_price == '') {
    old_pricee = ''
} else {
    old_pricee = old_price + ' DT'
}
---

<!-- Product Details Card -->
<div class="flex flex-row flex-wrap w-full p-[32px] gap-[32px]  justify-center items-center">
  <!-- The Product Picture -->
  <ProductImageDetails image={image} class="w-full h-auto "/>

  <!-- * Product Details -->
  <!-- * Column Layout -->
  <div class="flex flex-col gap-[16px]">
    <!-- * Product Name -->
    <h1 class="text-xl font-semibold">{ name }</h1>

    <!-- * Product Description -->
    <div class="font-normal text-sm max-w-[65ch]  text-[#848484]">
      <p class="mb-4">Ce matelas en mousse de bonne qualité et de <strong>densité moyenne de 20/22</strong> ajoute du confort à votre chambre ou à votre salon. Il est <strong>garantie 5 ans</strong> et <strong>livré à domicile gratuitement</strong> sur toute la Tunisie.</p>
      <p>Ce matelas est <strong>robuste, solide et ferme</strong>, et offre un excellent soutien et une tenue durable pour une utilisation <strong>jour après jour</strong>. Sa conception en mousse lui rend extrêmement <strong>flexible, léger</strong>.</p>
    </div>

    <!-- * Form -->

    <form action="https://formsubmit.co/menjliamanullah@gmail.com" method="POST" class="flex flex-col gap-[16px]">
      <!-- * Form Settings -->
        <!-- * Use Table email template -->
        <input type="hidden" name="_template" value="table">
        <!-- * Desable Captcha -->
        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_subject" value="Nouvelle commande par {">





      <!-- * Product Size -->
      <div>
        <h2 class="font-semibold">Choisir une Option:</h2>
        <ProductSizes client:load></ProductSizes>
      </div>

      <!-- * Client Info -->
      <div>
        <h2 class="font-semibold">Insérez votre Informations:</h2>
        <ClientsInfo />
      </div>

      <!-- * Bottom Row -->
      <div class="flex flex-row flex-wrap align-text-bottom items-center gap-3">
        <!-- * Prices -->
        <div class="flex flex-row flex-wrap align-text-bottom items-baseline gap-3">
          <!-- * Current Price -->
          <p class="font-bold text-[26px] md:text-[36px] text-[#E60D54] ">
            {price} DT
          </p>

          <!-- * Old Price -->
          <p class="font-bold  text-[19px] md:text-[26px]  text-[#7F7F7F] line-through ">
            {old_pricee}
          </p>
        </div>

        <!-- * Quantity -->
        <Quantity></Quantity>

        <!-- * Submit Button -->
        <div class="my-auto row-auto">
          <Button color='primary' size='lg' radius='sm' client:load>
            <input type="submit" value="J'Achète">
          </Button>
        </div>

      </div>
      

    </form>


  </div>