---
// Import necessary modules and assets
import { Image } from 'astro:assets'
import Corners from '~/assets/images/Corners.svg'

// Destructure props
const { image } = Astro.props
---

<div id="Image" class="as relative box-content" transition:name="pic" transition:animate="slide">
    {/* Display the main image */}
    <Image
        src={image}
        alt={'jarraya'}
        id="pic"
        class="as border-solid border-[0.5px] border-black border-opacity-50 w-full max-w-[460px]"
    />

</div>

<style>
    /* Styling for the component */
    .as {
        aspect-ratio: auto 380 / 434; /* Maintain the specified aspect ratio */
        flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis */
        min-width: 0; /* Allow content to shrink past its original width */
    }
</style>
