---
const title: String = 'Title'
import '../styles/main.css'
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import ProductsSection from '../components/ProductsSection.astro'
import { Image } from 'astro:assets'
import Logo from '~/assets/images/Logo.jpg'
import DashedMessage from '../components/messages/DashedMessage.astro'
import FlipCountdownTimer from '../components/countdown_timer/FlipCountdownTimer.astro'
import BouncingMessage from '../components/messages/BouncingMessage.astro'
import CardMessage from '../components/messages/CardMessage.astro'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <ViewTransitions />

    </head>

    
    <body
        class="relative bg-[url('~/assets/images/big-bg.png')] bg-top bg-cover bg-fixed bg-no-repeat gap-3 flex flex-col"
    >
    <header  transition:persist 
    class="flex flex-col gap-3 justify-center w-full text-center relative pt-2 px-2"
>
    <a href="/"><Image
        src={Logo}
        alt="logo"
        class="h-28 w-auto mx-auto sm::absolute sm:top-4 sm:left-4"
    /></a>

    <DashedMessage message="Ø¥Ø´Ø±ÙŠ Ø¨Ø£Ø±Ø®Øµ Ø§Ù„Ø£Ø³Ø¹Ø§Ø± ÙÙŠ ØªÙˆÙ†Ø³ ðŸ”¥" dir="rtl" />

    <!-- <FlipCountdownTimer /> -->

    <BouncingMessage
        message="Ø¹Ø¯ÙŠ ÙƒÙˆÙ…ÙˆÙ†Ø¯ Ùˆ Ø§Ù„ØªÙˆØµÙŠÙ„ Ù„Ø¨Ø§Ø¨ Ø§Ù„Ø¯Ø§Ø±ØŒ Ùˆ Ø§Ù„Ø¯ÙØ¹ Ø¹Ù†Ø¯ Ø§Ù„Ø§Ø³ØªÙ„Ø§Ù…"
        dir="rtl"
    />
    <CardMessage message="Ø§Ù„ØªÙˆØµÙŠÙ„ Ù…Ø¬Ø§Ù†ÙŠ Ù„ÙƒØ§Ù…Ù„ ØªØ±Ø§Ø¨ Ø§Ù„Ø¬Ù…Ù‡ÙˆØ±ÙŠØ©" />
</header>
        <ProductsSection />
        <Footer />
    </body>


</html>




<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=block');

    * {
        font-family: 'Roboto';
    }
</style>
