---
const title: String = 'Title'
import Footer from '../layouts/Footer.astro'
import ProductsSection from '../layouts/ProductsSection.astro'
import { Image } from 'astro:assets'
import Logo from '~/assets/images/Logo.jpg'
import DashedMessage from '../components/messages/DashedMessage.astro'
import FlipCountdownTimer from '../components/countdown_timer/CountdownTimer.astro'
import BouncingMessage from '../components/messages/BouncingMessage.astro'
import CardMessage from '../components/messages/CardMessage.astro'


---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>

    
    <body class="relative bg-[url('~/assets/images/big-bg.png')] bg-top bg-cover bg-fixed bg-no-repeat gap-3 flex flex-col">
        <header  transition:persist class="flex flex-col gap-3 justify-center w-full text-center relative pt-2 px-2">
            <!-- * Logo -->
            <a href="/">
                <Image src={Logo} alt="logo" class="h-28 w-auto mx-auto sm::absolute sm:top-4 sm:left-4"/>
            </a>
            
            <DashedMessage message="إشري بأفضل الأسعار في تونس" dir="rtl" />

            <FlipCountdownTimer />

            <BouncingMessage
                message="عدي كوموند و التوصيل لباب الدار، و الدفع عند الاستلام"
                dir="rtl"
            />
    
            <CardMessage message="التوصيل مجاني لكامل تراب الجمهورية" />
        </header>

        <ProductsSection />
        
        <Footer />
    </body>
</html>




<style>

    * {
        font-family: 'Roboto';
        color: black;
    }
    @font-face {
    font-family: 'TheSans';
    src: url('/fonts/TheSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

</style>
