---
const title: String = 'Title'
import Footer from '../layouts/Footer.astro'
import ProductDetails from '../components/product_details/ProductDetails.astro';
import orthomed1 from '../assets/images/orthomed1.png'

interface Data {
  size: string;
  price: number;
}


const data:Array<Data> = [
  { size: "190/160", price: 299 },
  { size: "190/140", price: 285 },
  { size: "190/120", price: 255 },
  { size: "190/90", price: 199 },
  { size: "190/80", price: 185 },
  { size: "200/160", price: 385 },
  { size: "200/180", price: 420 },
];
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

    </head>

    
    <body
    class="relative bg-[url('~/assets/images/big-bg.png')] bg-top md:bg-cover md:bg-fixed bg-no-repeat gap-3 flex flex-col"


    >
    
<div class="px-1 py-3 bg-[#E60D54] text-white w-20 text-center m-2"><a href="/">Retour</a></div>


<ProductDetails name="Matelas En Mousse 1 Place 5 étoiles" price="105" old_price="130" data={data} image={orthomed1}></ProductDetails>
        <Footer />
    </>


</html>




<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=block');

    * {
        font-family: 'Roboto';
    }
    body {
        background-color: #EDF2FF;
    }
</style>
