---
const title: String = 'Title'
import '../styles/main.css'
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro'
import ProductDetails from '../components/product_details/ProductDetails.astro';
import jarraya from '../assets/images/jarraya.png'
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <ViewTransitions />

    </head>

    
    <body
        class="relative bg-[url('~/assets/images/big-bg.png')] bg-top bg-cover bg-fixed bg-no-repeat gap-3 flex flex-col h-screen "
    >
    
<div class="px-1 py-3 bg-[#E60D54] text-white w-20 text-center m-2"><a href="/">Retour</a></div>

<ProductDetails name="Matelas En Mousse 1 Place 5 étoiles"  image={jarraya} price="105" old_price="130" ></ProductDetails>
        <Footer />
    </body>


</html>




<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=block');

    * {
        font-family: 'Roboto';
    }
</style>
