<span class="buy-btn"> J'Aachète</span>

<style>
    .buy-btn {
        font-family: Roboto;
        font-size: 12px;
        padding: 5px 11px;
        color: white;
        background: #e60d59;
    }
    
    .buy-btn:hover {
        cursor: pointer;
        transform: scale(105);
    }
</style>
