---
const { message, dir } = Astro.props;
---

<div id="container">
  <h1 lang="ar" dir={dir} id="message">{message}</h1>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");

  #container {
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    border: 4px dashed #000;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  #message {
    font-family: Inter, sans-serif;
    font-weight: 900;
    line-height: 48px;
    font-size: 48px;
    letter-spacing: -1.2px;
  }

  @media (max-width: 768px) {
    #container {
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
    }

    #message {
      font-size: 24px;
    }
  }

  @media (max-width: 350px) {
    #container {
      padding-right: 10px;
      padding-left: 5px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    #message {
      font-size: 18px;
    }
  }
</style>
