---
import Footer from './Footer.astro'
import Header from './Header.astro'
import ProductsSection from './ProductsSection.astro'
import CartFlyoutToggle from '../components/cart/CartFlyoutToggle.svelte'
---

<body
    class="relative bg-[url('~/assets/images/big-bg.png')] bg-top bg-cover bg-fixed bg-no-repeat gap-3 flex flex-col font-[Roboto]"
>
    <Header />
    <ProductsSection />
    <Footer />
</body>
