<div class="py-8 px-40 text-center text-base text-gray-500 font-normal">
    <p class="mb-2">
        Copyright © 2023 – Ce site ne fait pas partie du site Web de Facebook ou
        de Facebook Meta Inc. De plus, ce site n’est en aucune façon endorsé par
        Facebook. FACEBOOK est une marque commerciale de Meta, Inc.
    </p>
    <span class="flex flex-row justify-center gap-4">
        <a href="#">Conditions générales de vente</a>|<a href="#"
            >Politique de confidentialité
        </a>|<a href="#">Qui somme nous</a>|<a href="#"
            >Politique des cookies
        </a>|<a href="#">Contactez nous</a>
    </span>
</div>>
