---
import BouncingMessage from '../components/messages/BouncingMessage.astro'
import DashedMessage from '../components/messages/DashedMessage.astro'
import CardMessage from '../components/messages/CardMessage.astro'
import FlipCountdownTimer from '../components/countdown_timer/FlipCountdownTimer'
import { Image } from 'astro:assets'
import Logo from '~/assets/images/Logo.jpg'
import MobileBackground from '~/assets/images/mobile-background.svg'
---

<div class="flex flex-col gap-5">
    <Image src={Logo} alt="logo" class="w-[266px] mx-auto" />
    <DashedMessage message="Ø¥Ø´Ø±ÙŠ Ø¨Ø£Ø±Ø®Øµ Ø§Ù„Ø£Ø³Ø¹Ø§Ø± ÙÙŠ ØªÙˆÙ†Ø³ ðŸ”¥" dir="rtl" />

    <FlipCountdownTimer client:load />

    <BouncingMessage
        message="Ø¹Ø¯ÙŠ ÙƒÙˆÙ…ÙˆÙ†Ø¯ Ùˆ Ø§Ù„ØªÙˆØµÙŠÙ„ Ù„Ø¨Ø§Ø¨ Ø§Ù„Ø¯Ø§Ø±ØŒ Ùˆ Ø§Ù„Ø¯ÙØ¹ Ø¹Ù†Ø¯ Ø§Ù„Ø§Ø³ØªÙ„Ø§Ù…"
        dir="rtl"
    />
    <CardMessage message="Ø§Ù„ØªÙˆØµÙŠÙ„ Ù…Ø¬Ø§Ù†ÙŠ Ù„ÙƒØ§Ù…Ù„ ØªØ±Ø§Ø¨ Ø§Ù„Ø¬Ù…Ù‡ÙˆØ±ÙŠØ©" />
</div>
