---
import ProductImageA from './ProductImageA.astro'
const { image, name, price, old_price, link, score } = Astro.props
---

<div
    class="w-[285px] h-[444px] pb-2.5 flex-col justify-start items-center gap-[2.5] flex-wr flex"
>
    <ProductImageA image={image} score={score} />
    <div
        class="self-stretch h-10 pb-2.5 border-b border-neutral-500 flex-col justify-start items-center gap-2.5 flex"
    >
        <div
            class="px-2.5 py-[5px] bg-rose-600 justify-center items-center gap-2.5 inline-flex"
        >
            <div
                class="text-white text-xs font-medium leading-tight tracking-tight"
            >
                J’Achète
            </div>
        </div>
    </div>
    <div class="flex-col justify-start items-center flex">
        <div class="flex-col justify-start items-center gap-2.5 flex">
            <div
                class="text-neutral-800 text-sm font-semibold leading-[18px] tracking-tight"
            >
                Oreillers En Mousse | 50x50cm
            </div>
            <div
                class="text-rose-600 text-lg font-bold leading-tight tracking-tight"
            >
                26 DT
            </div>
        </div>
    </div>
</div>
