---
// Import necessary modules and assets
import { Image } from 'astro:assets'
import corners1 from '~/assets/images/corners1.svg'
import corners2 from '~/assets/images/corners2.svg'
import Stars from './Stars.jsx'

// Destructure props
const { image, places } = Astro.props

let Corners = corners1

if (places == "2"){
    Corners = corners2;
}
---

<div id="Image" class="as relative box-content">
    {/* Display the main image */}
    <Image
        src={image}
        alt={'jarraya'}
        id="pic"
        class="as border-solid border-[0.5px] border-black border-opacity-50 w-full"
    />
    {/* Display the Corners image */}
    <img
        src={Corners.src}
        width={Corners.width}
        height={Corners.height}
        id="Corners"
        class="absolute as top-0 w-full"
    />
</div>

<style>
    /* Styling for the component */
    .as {
        aspect-ratio: auto 380 / 434; /* Maintain the specified aspect ratio */
        max-width: 285px; /* Set a maximum width for the component */
        flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis */
        min-width: 0; /* Allow content to shrink past its original width */
    }
</style>
