---
import ProductImage from './ProductImage.astro'
const { image, name, pricee } = Astro.props


console.log(pricee)
---

<div
    class="flex flex-col gap-[10px] pb-[10px] max-w-[285px] sm:min-w-[138px] sm:max-w-[163px] md:w-[223px] lg:w-[283px] mb-[15px]"
>
<a href="product"><ProductImage image={image}></a>
    <div class="justify-center flex pb-[10px] border-b-[1px] border-[#7B7B7B]">
        <a href="product"><div class="text-center px-[10px] py-[5px] bg-[#E60D54]">
            <div
                class="text-white text-[12px] leading-[20px] first-letter font-medium tracking-[0.25px]"
                639px
            >
                J’Achète
            </div>
        </div></a>
    </div>
    <div class="flex flex-col gap-[10px] justify-center">
        <a href="product"><p
            class="font-semibold text-[14px] leading-[18px] tracking-[0.2px] text-[#202020] text-center"
        >
            {name}
        </p></a>

        <div class="flex flex-col gap-[10px] text-center m-auto">
            <div class="flex flex-col gap-[10px] text-center m-auto">
                <p
                    class="font-bold text-[18px] leading-[20px] tracking-[0.25px] text-[#E60D54] text-center"
                >
                    {pricee} DT
                </p>
                <p
                    class="font-bold text-[14px] leading-[20px] tracking-[0.25px] text-[#7F7F7F] line-through text-center"
                >
                    {parseInt(pricee) * 2} DT
                </p>
            </div>

            
        </div>
    </div>
</div>


<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=block');

    * {
        font-family: 'Roboto';
    }
</style>